---
import Section from "./Section.astro"
---

<Section
  tittle="Model 3"
  subtittle="Concentar una prueba de conduccion"
  color="black"
>
  <div slot="footer">
    <div class="gap-x-4 flex mx-auto">
        <a
          class="border-[3px] border-white bg-black backdrop-blur-xl rounded font-medium px-10 py-2 text-white inline-block hover:text-black hover:bg-white transition-colors"
          href="#"
        >
          Explorar inventario</a
        >
        <a
          class="border-[3px] bg-white rounded font-medium px-12 py-2 text-black
          hover:bg-black hover:text-white transition-colors infline-flex justify-center items-center"
          href="#"
        >
          Pedido personalizado</a
        >
      </div> </div>  
  <video
    slot="background"
    class="object-center object-cover w-full"
    autoplay
    muted
    loop
    src="/Video.mp4"></video>
</Section>

